<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Create author</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<main>
  <h1>Add new Author</h1>
  <form method="POST" action="/add-author">
    <div>
      <label for="author">Author name</label>
      <input type="text" name="author_name" id="author_name">
    </div>
    <div>
      <label for="person_number">Author person number</label>
      <input type="text" name="person_number" id="person_number">
    </div>
    <div>
      <input type="submit" id="Add_author" value="Add author">
    </div>
  </form>
</main>
<footer> </footer>
</body>
</html>
